.navbar-brand {
    background-color: #4aaaa5;
    padding: 10px;
color}

.navbar-dark .navbar-toggler {
    color: grey !important;
}

#submit {
    background-color: #4aaa;
    color: white;
    height: 35px;
    width: 75px;
}
.footer {
    text-align: center;
    height: 60px;
    border-top: 8px solid #4aaaa5; background-color: #666666;
}
a.nav-link {
    color: grey !important;
}
#text {
    color: black !important;
}