body {
    background-image: url(./images/white.jpg);
    background-repeat: repeat;
    background-size: 100vw;
}

.card-img-top {
    height: 210px;
}

.navbar-brand {
    background-color: #9E9E9E ;
    padding: 10px;
}
.display-8 {
    background-color: #9E9E9E ;
    height: 60px;
    justify-content: center;
}

#submit {
    background-color: #9E9E9E ;
    color: black;
    height: 35px;
    width: 75px;
}

.welcome-card {
    background: rgba(224, 231, 0, 0);
    border: 0px;
}

.footer {
    text-align: center;
    border-top: 8px solid #9E9E9E ; background-color: #9E9E9E ;
}

.icon {
    height: 60px;
    width: 60px;
}

a.nav-link {
    color: #000000 !important;
}
#text {
    color: black !important;
}

